<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynby.platform.operation.biz.dao.SysConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ynby.platform.operation.api.pojo.entity.SysConfig">
        <id column="config_id" property="configId" />
        <result column="config_name" property="configName" />
        <result column="config_key" property="configKey" />
        <result column="config_value" property="configValue" />
        <result column="config_type" property="configType" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="remark" property="remark" />
		<result column="gmt_create" property="gmtCreate" />
		<result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        config_id, config_name, config_key, config_value, config_type, create_by, update_by, remark, gmt_create, gmt_modified
    </sql>

</mapper>
